.container {
    align-self: center;
    /* margin-top: 27px; */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 70px;
    border-radius: 100px;
    background: linear-gradient(to left, #4333FF, #07FFD2);
    padding: 2px;
    z-index: 1;
    color: #FFFFFF;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.container:hover {
    background: linear-gradient(to right, #4333FF, #07FFD2);
}

.hide {
    background: transparent;
    padding: 0;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;

    font-size: 24px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forward {
    width: 272px;
    height: 70px;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(to right, #4333FF, #07FFD2);

    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.forward:hover {
    background: linear-gradient(to right, #7E73FF, #07FFD2);
}

.back {
    color: #353535;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    z-index: 10;
}

.disabled {
    cursor: not-allowed;
}

.send {
    width: 272px;
    height: 70px;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(to right, #4333FF, #07FFD2);
}

.send:hover {
    background: linear-gradient(to left, #4333FF, #07FFD2);
}

.send .disabled {
    background: linear-gradient(to right, #B2ABFF, #51FFE0);
}

.p0 {
    padding: 0;
}


@media screen and (min-width: 581px) and (max-width: 768px) {
    .container {
        width: 219px;
        height: 56px;
    }
    .btn {
        font-size: 20px;
    }
    .forward {
        width: 219px;
        height: 56px;
    }
    .send {
        width: 219px;
        height: 56px;
    }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
    .container {
        width: 229px;
        height: 44px;
    }
    .btn {
        font-size: 16px;
    }
    .forward {
        width: 229px;
        height: 44px;
    }
    .send {
        width: 229px;
        height: 44px;
    }
}
