.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__back {
    color: #353535;
}

.link__forward {
    color: #FFFFFF;
}