.wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper__label {
    font-size: 32px;
    font-weight: 500;
    color: #353535;
    margin-bottom: 32px;
}

@media screen and (min-width: 581px) and (max-width: 768px) {
    .wrapper__label {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
    .wrapper__label {
        font-size: 18px;
        margin-bottom: 15px;
    }
}