* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

.wrapper {
  width: 100%;
  max-width: 1455px;
  margin: 0 auto;
  height: 100vh;
  background-image: url("./assets/images/background.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}

