* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1455px;
  margin: 0 auto;
  height: 100vh;
  background-image: url("./assets/images/background.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

